@model System.Data.DataTable

<div>
    Total: @Model.Rows.Count
</div>
<table>
    <tr>
        <th>Id</th>
        <th>AgentCode</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Entry Ticket</th>
        <th>Guest Table (4 pax)</th>
        <th>VIP Table (8 pax)</th>
        <th>VVIP Table (8 pax)</th>
        <th>VVVIP Table (12 pax)</th>
    </tr>
    @foreach(System.Data.DataRow r in Model.Rows)
    {
        <tr>
            <td>@(r["Id"])</td>
            <td>@(r["AgentCode"])</td>
            <td>@(r["Name"])</td>
            <td>@(r["Email"])</td>
            <td>@(r["Mobile"])</td>
            <td style="text-align:center">@(r["Entry Ticket"])</td>
            <td style="text-align:center">@(r["Guest Table (4 pax)"])</td>
            <td style="text-align:center">@(r["VIP Table (8 pax)"])</td>
            <td style="text-align:center">@(r["VVIP Table (8 pax)"])</td>
            <td style="text-align:center">@(r["VVVIP Table (12 pax)"])</td>
        </tr>
    }
</table>

